$moyoColor: #00acdc;
$cardWidth: 200px;
$spaceBetweenCardsRow: 48px;
$spaceBetweenCardsColumn: 50px;
$borderProductColor: #f3f3f3;

@mixin smallText {
  font-size: 11px;
  line-height: 13px;
}

@import "product.scss";
@import "stars.scss";
@import "nav.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
  width: 40px;
  height: 40px;
}

.cards {
  max-width: $cardWidth * 4 + $spaceBetweenCardsRow * 3;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: #{$spaceBetweenCardsColumn} #{$spaceBetweenCardsRow};
}
